body {
    background: lightblue;
}
h1 {
    text-align: center;
}

.search {
    font-size: 20px;
    margin-left: 60rem;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.topics {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}

table {
    margin: 10px;
    padding: 20px;
    border-collapse: collapse;
    width: 100%;
}

th {
    margin: 20px;
    border: 2px solid black;
    text-align: center;
    width: 150px;
    padding: 20px;
    background: rgb(117, 201, 250);
}

th, td {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    font-size: 20px;
}

span {
    margin-bottom: 20px;
}
td img {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}






@media (max-width: 600px) {
    
    .board {
        overflow-x: scroll;
    }
    .search {
        margin-left: 0rem;
    }

    .topics {
        gap: 2px;
        padding: 0.5rem;
    }
    
    table {
        margin: 10px;
        padding: 10px;
        width: 100%;
        overflow: scroll;
        width: 100%;
        cursor: pointer;
    }

    th {
        margin: 10px;
        width: 100px;
        padding: 10px;
    }
    
    th, td {
        padding: 8px;
        font-size: 15px;
    }
}




@media (max-width: 1024px) {
    .search {
        margin-left: 0rem;
    }
}